{% extends 'base.html' %}

{% block head_block %}
<style>
    #card {
        max-width: 65%;
        margin: 0 auto;
        /* Added */
        float: none;
        /* Added */
        margin-bottom: 10px;
        /* Added */
        font-size: small;
    }

    label {
        padding: 7px;
    }
</style>
{% endblock %}

{% block body_block %}
{% load static %}

<br><br>
<div class="row" style="padding: 30px;">
    <div class="col-12">
        <div class="row">
            <div class="col-sm-12 order-sm-12">
                <div class="card" id="card">
                    <div class="card-header">
                        <h3>Invitation </h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="">Visitor ID</label>
                                    <input type="text" name="visitor_id" id="visitor_id" class="form-control" required>
                                </div>
                                <div class="col-sm-6">
                                    <label for="">Name</label>
                                    <input type="text" name="name" id="name" class="form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="form-label" for="">phone_number</label>
                                    <input type="number" name="phone_number" id="phone_number" class="form-control"
                                        required>
                                </div>
                                <div class="col-sm-6">
                                    <label for="">email</label>
                                    <input type="email" name="email" id="email" class="form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="">Meeting Date</label>
                                    <input type="date" name="meeting_date" id="meeting_date" class="form-control"
                                        required>
                                </div>
                                <div class="col-sm-4">
                                    <label for="">Meeting Time</label>
                                    <input type="time" name="meeting_time" id="meeting_time" class="form-control"
                                        required>
                                </div>
                                <div class="col-sm-4">
                                    <label for="">Meeting Duration</label>
                                    <input type="number" name="meeting_duration_time" id="meeting_duration_time"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="">Purpose of Meeting</label>
                                    <textarea name="purpose_of_meeting" id="purpose_of_meeting" class="form-control"
                                        cols="30" rows="10"></textarea>
                                </div>
                            </div><br><br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-success" name="save" value="save">Send Invite</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block script_block %}
<script type="text/javascript">
    setTimeout(function () {
        $("#alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 2000);
</script>
{% endblock %}