
{% block head_block %}
<style>
  #card {
    max-width: 65%;
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
    font-size: small;
  }
  #card-box{
   position: relative;
    max-width: 430px;
    width: 100%;
    height: 30%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* margin: 0; */
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 10%;
    padding-bottom: 10%;
    /* float: left; */
  }

  label {
    padding: 7px;
  }
  body{
    /* background-color: rgb(61, 70, 61);
    color: white; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #296118;
    color: black;
  }
  button{
    outline-color: none;
    color: white;
    background-color:black;
    margin-top: 30px;
    

  }

h3{
 color: black;
  font-size: x-large;
}



</style>
{% endblock %}

{% block body_block %}
{% load static %}

<br><br>
<div class="row" style="padding: 0px;">
  <div class="col-12">
    <div class="row">
      <div class="col-sm-12 order-sm-12">
        <div class="card" id="card">
          <div class="card-header">
           
          </div>
          <div class="card" id="card-box">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
         <div class="col-sm-6">
          <h3>Login </h3>
                <div class="col-sm-6">
                  <label for="">Username</label>
                  <input type="text" name="username" id="username" class="form-control" required>
                </div>

                <label for="">Password</label>
                  <input type="password" name="password" id="password" class="form-control" required>
                </div>
              
              <div class="row">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-success" name="login" value="login" onclick=alert()>Login</button>

                </div>
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}



{% block script_block %}
<script type="text/javascript">
  setTimeout(function () {
    $("#alert").fadeTo(500, 0).slideUp(500, function () {
      $(this).remove();
    });
  }, 2000);
</script>
{% endblock %}