{% extends 'base.html' %}

{% block head_block %}
<style>
  td,th{
      text-align: center;
  }
</style>
{% endblock %}

{% block body_block %}
{% load static %}
<br><br><br>
<div class="row" style="padding: 30px;">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Organisation Admin</h6>
          <a href="{% url 'organisation_admin_add' %}">
          <button style="float: right;" type="button" class="btn btn-primary">
           Add
          </button></a>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center justify-content-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Code</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Category</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Start Date</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Expiry Date</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Organisational Address</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Phone number</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Maximum Branch</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for data in records %}
                <tr>
                    <td>
                        <p class="text-sm font-weight-bold mb-0">{{forloop.counter}}</p>
                      </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">{{data.name}}</p>
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">{{data.code}</p>
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">{{data.category</p>
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">{{data.start_date}}</p>
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">{{data.expiry_date}}</p>

                  </td>
                  <td>
                    <span class="text-xs font-weight-bold">{{data.organisation_address}}</span>
                  </td>
                
                  <td>
                    <span class="text-xs font-weight-bold">{{data.maximum_branch}}</span>
                  </td>
                  <td >
                    <button class="btn btn-link text-secondary mb-0">
                      <i class="fa fa-ellipsis-v text-xs"></i>
                    </button>
                  </td>
                </tr>
                {% endfor %}
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}



  {% block script_block %}
  
  {% endblock %}