{% extends 'base.html' %}

{% block head_block %}
<style>
    
</style>
{% endblock %}

{% block body_block %}
{% load static %}
<br><br><br>
<div class="row" style="padding: 30px;">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Select Organisation Fields</h6>
            </div>
            <div class="row">
            <div class="col-12">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
            <label class="form-check-label">First Name</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
            <label class="form-check-label">Last Name</label>
            </div>
            </div>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
            <label class="form-check-label">Visitor ID</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
            <label class="form-check-label">Email</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
            <label class="form-check-label">Time In</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
            <label class="form-check-label">Meeting Duration</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check2" name="option2" value="something" checked>
            <label class="form-check-label">Vehicle Number</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check3" name="option3" value="something" checked>
            <label class="form-check-label">Meeting Date</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
            <label class="form-check-label">PAX</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check4" name="option4" value="something" checked>
            <label class="form-check-label">Company Name</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check5" name="option5" value="something" checked>
            <label class="form-check-label">Purpose</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check6" name="option6" value="something" checked>
            <label class="form-check-label">Host</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check7" name="option7" value="something" checked>
            <label class="form-check-label">Laptop Serial Number</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check8" name="option8" value="something" checked>
            <label class="form-check-label">Temperature</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check9" name="option9" value="something" checked>
            <label class="form-check-label">Gender</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check1" name="option10" value="something" checked>
            <label class="form-check-label">Email</label>
            </div>
            </div>
            </div>
            </div>
            <button type="submit" form="form" class="btn btn-primary">Save</button>
       
{% endblock %}



{% block script_block %}

{% endblock %}