{% extends 'base.html' %}

{% block head_block %}
{% endblock %}

{% block body_block %}
{% load static %}

<br><br>
<!-- Page content -->
<div class="container-fluid mt--6 align-items-center">
    <div class="row">

        <div class="col-xl-10 order-xl-1">
            <div class="card" id='card'>
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Security Registration</h3>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" id="form">
                        {% csrf_token %}
                        <h6 class="heading-small text-muted mb-4">Guest information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Name</label>
                                        <input type="text" id="name" name="name" class="form-control"
                                            placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Email address</label>
                                        <input type="email" id="email" name="email" class="form-control"
                                            placeholder="Email Address" placeholder="Email Address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="phone_number">Phone</label>
                                        <input type="number" name="phone_number" id="phone_number" class="form-control"
                                            placeholder="Phone Number">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="purpose">Purpose</label>
                                        <input type="purpose" name="purpose" id="purpose" class="form-control"
                                            placeholder="Purpose">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="Invite_date">Invite Date</label>
                                        <input type="date" name="invite_time" id="invite_time" class="form-control"
                                            placeholder="Invite Date">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="invite_time">Invite Time</label>
                                        <input type="time" name="invite_time" id="invite_time" class="form-control"
                                            placeholder="Invite Time">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-vehicle_number">Vehicle
                                            Number(Optional)</label>
                                        <input type="text" id="vehicle_number" vehicle_number="vehicle_number"
                                            class="form-control" placeholder="Vehicle Number">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-id_number">Id No(Optional)</label>
                                        <input type="id_number" id="id_number" id_number="id_number"
                                            class="form-control" placeholder="ID Number">
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="card-footer">
                            <button type="submit" form="form" class="btn btn-sm btn-primary"
                                style="float: right;">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% endblock %}



        {% block script_block %}

        {% endblock %}