{% extends 'base.html' %} {% block head_block %}
<!-- jQuery -->
<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.5.1.js"
></script>
<!-- DataTables CSS -->
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"
/>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

<style>
  [type='search'] {
    border: 1 !important;
    border-color: rgb(220, 235, 249) !important;
  }
  table.dataTable.no-footer {
    border: none !important;
  }
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-color: inherit;
    border-style: none;
    border-width: 0;
    text-align: center;
  }
  .card-header {
    display: flex;
    justify-content: space-between;
  }
  .header-button {
    display: flex;
  }
  .head-button {
    margin: 0 0.5rem;
    
    
  }
  .head-button button {
    border: none;
    outline: none;
    

  }
  .head-button button {
    background-color: green;
    color: white;
    padding: 0.5rem;
    border-radius: 8px;
  }
</style>
{% endblock %} {% block body_block %} {% load static %}

<!-- Page content -->
<br /><br /><br />
<div class="row" style="padding: 30px">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header header">
        <h4>Visitors</h4>
        <div class="header-button">

          <div class="card-header pb-0">
          <button style="float: right; background-color: green; color: white; border: none; outline: none; border-radius: 8px;" type="button" class="head-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Invite Code
            </button>
          </div>
          <div class="modal fade"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Invite Code</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="post" action="checker">
                    {% csrf_token %}
                    <div class="col-md-12"><br>
                        <h5>Enter Invite Code </h5><br>
                        <input type="text" class="form-control" name="search" placeholder="Enter Invite Code......">
                    </div><br>

                    <center> <button type="submit" class="btn btn-primary" name='search_btn' value="search">➥ Check
                        </button></center>

                </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
           <a href="{% url 'webcheckin' %}">
            <div class="head-button"><button>Web Checkin</button></div>
        </a>
   
          </div>
      </div>
      <div class="card-body" style="overflow-x: scroll">
        <table class="table table-hover" id="tableID">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Visitor Name</th>
              <th scope="col">ID No</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Checkin Time</th>
              <th scope="col">Checkout Time</th>
              <th scope="col">Vehicle No.</th>
              <th scope="col">Company Name</th>
              <th scope="col">PAX</th>
              <th scope="col">Checkin From</th>
            </tr>
          </thead>
          <tbody>
            {% for data in visitors %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{data.visitor_name}}</td>
              <td>{{data.id_number}}</td>
              <td>{{data.phone_number}}</td>
              <td>{{data.check_in}}</td>
              <td>{{data.check_out}}</td>
              <td>{{data.vehicle_number}}</td>
              <td>{{data.company_name}}</td>
              <td>{{data.PAX}}</td>
              <td>{{data.checkin_from}}</td>
              <td style="width: 12%">
                <div class="row">
                  <div class="col-md-12">
                    <i class="fas fa-arrow-up text-success mr-3"></i>
                    {{data.in_time}}
                  </div>
                  {% if not data.out_time == None %}
                  <div class="col-md-12">
                    <i class="fas fa-arrow-down text-warning mr-3"></i>
                    {{data.out_time}}
                  </div>
                  {% endif %}
                </div>
              </td>
              <td>{{data.created_at|date}}</td>
              <td>
                <form method="post" action="{% url 'check_out' %}">
                  {% csrf_token %}
                  <input type="hidden" name="visitor_id" value="{{ data.id }}"/>
                  <button
                type="submit"
                class="btn btn-danger btn-sm">Check-Out</button>
                </form>
              </td>
              
            </tr>

            {% endfor %}
            
            {% if visitor.is_in %}
            <p>Visitor is currently checked in.</p>
            <a href="{% url 'visitorlog' visitor.id %}">Check out</a>
        {% elif visitor.is_out %}
            <p>Visitor checked out at {{ visitor.check_out }}.</p>
        {% endif %}
          </tbody>
        </table>
        </div>
    </div>
  </div>
</div>


{% endblock %} 
{% block script_block %}
<script>
  $(document).ready(function () {
    $('#tableID').DataTable({});
  });
</script>
{% endblock %}
